<div class='foodsub first'>
  <img src="<%= food.imageURL %>">
  <h2 class='foodname'>
    <%= food.name %>
  </h2>
</div>
<div class='foodsub second'>
  <h3><label>Added on</label><%= moment(food.createdAt).format("dddd, hA") %></h3>
</div>
<div class='foodsub third'>
  <span class='warn'><i class='fa fa-times-circle'></i> Protein <span class='tooltip'><%= food.protein %>g</span></span>
  <span class='good'><i class='fa fa-check-circle'></i> Sodium <span class='tooltip'><%= parseInt(food.sodium) / 1000 %>g</span></span>
  <span class='neutral'><i class='fa fa-circle'></i> Carbs <span class='tooltip'><%= food.carbohydrates %>g</span></span>
</div>
<% if (!food.updated) { %>
<div class='foodsub fourth'>
  <button class='archive'>Archive</button>
  <button class='delete'>Delete</button>
</div>
<% } %>