<% include ../partials/header %>
<div class='container'>
  <div class='top'>
    <h1>Welcome back, <%= user.fullName %>.</h1>
    <a class='btn' href='/auth/logout'>Log out</a>
  </div>
  <div class='todaysmeals'>
    <h4>Today's Meals</h4>
    <ul>
      <li>
        <h3>Breakfast</h3>
        <p>Information goes here</p>
        <span class='time'>7:00 AM</span>
      </li>
      <li>
        <h3>Lunch</h3>
        <p>Information goes here</p>
        <span class='time'>12:00 PM</span>
      </li>
      <li>
        <h3>Snack</h3>
        <p>Information goes here</p>
        <span class='time'>6:00 PM</span>
      </li>
      <li>
        <h3>Dinner</h3>
        <p>Information goes here</p>
        <span class='time'>6:00 PM</span>
      </li>
    </ul>
  </div>
  <div class='foods'>
    <ul>
    <% if (foods.length !== 0) { %>
     <% foods.forEach((food) => { %>
       <li>
        <div class='foodsub first'>
          <img src="<%= food.imageURL %>">
          <h2 class='foodname'>
            <%= food.name %>
          </h2>
        </div>
        <div class='foodsub second'>
          <h3><label>Added on</label><%= moment(food.createdAt).format("dddd, hA") %></h3>
        </div>
        <div class='foodsub third'>
          <span class='warn'><i class='fa fa-times-circle'></i> Protein <span class='tooltip'><%= food.protein %>g</span></span>
          <span class='good'><i class='fa fa-check-circle'></i> Sodium <span class='tooltip'><%= food.sodium %>g</span></span>
          <span class='neutral'><i class='fa fa-circle'></i> Carbs <span class='tooltip'><%= food.carbohydrates %>g</span></span>
        </div>
        <div class='foodsub fourth'>
          <button id='edit'>Edit</button>
          <button id='eat'>Eat</button>
          <button id='delete'>Delete</button>
        </div>
       </li>
      <% }); %>
    <% } else { %>
      <p>You haven't added any foods yet!</p>
      <a class='btn' href='/foods'>Add Foods</a>
      <% } %>
    </ul>
  </div>
</div>

<% include ../partials/footer %>


